langchain
langchain-core
langchain-community
langgraph

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain_huggingface

openai
groq
google-generativeai
mistralai

python-dotenv
tiktoken
requests

faiss-cpu
chromadb
sentence-transformers
pypdf

fastapi
uvicorn